
SellerAppNetworkingMW.xcworkspace/xcuserdata/beemobile.xcuserdatad/UserInterfaceState.xcuserstate

SellerAppNetworkingMW.xcworkspace/xcuserdata/oscar.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
